/* Stuff to ensure smooth PDF printing */
/* DO NOT CHANGE */
@media print {
  @page {
    size: A4;
    margin: 0;
  }

  .page {
    page-break-after: always;
    break-after: page;
    border: none !important;
  }
}

/* page styles */
/* DO NOT CHANGE */
.page {
    width: 210mm;
    height: 297mm;
    padding: 20mm;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
    border: 1px solid black;
}
.page-content {
    width: 170mm;
    height: 257mm;
}
.page-number {
    position: relative;
    bottom: 5mm;
    left: auto;
    right: auto;
    text-align: center;
}

/* title page style */
/* change within healthy limits */
#title-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#songbook-title {
    font-size: 3rem;
    display: flex;
    justify-content: center;
}
#songbook-author {
    font-size: 2rem;
    display: flex;
    justify-content: center;
}

/* FONT CHANGE */
/* after changing, run TODO */
#songbook-title {
    font-family: Arial, Helvetica, sans-serif;
}
#songbook-author {
    font-family: Arial, Helvetica, sans-serif;
}
.toc {
    font-family: Arial, Helvetica, sans-serif;
}
.song-part {
    font-family: Arial, Helvetica, sans-serif;
}

/* table of contents */
/* change with care */
.toc li a {
    display: flex;
    align-items: baseline;
    text-decoration: none;
    margin-bottom: 3mm;
    color: black;
}
.toc {
    list-style: none;
    text-decoration: none;
    padding-left: 0;
    font-size: 5mm;
}
.toc-pagenumber, .toc-title {
    white-space: nowrap;
}
.toc-dots {
    flex: 1;
    border-bottom: 0.5mm dotted black;
    margin: 0 0.5em;
}
.toc-split {
    column-count: 2;
    column-gap: 10mm;
}
#contents-name {
    text-align: center;
}

/* song stuff */
/* DO NOT CHANGE pls */
.song-name {
    text-align: center;
    font-size: 1.5rem;
    height: 10mm;
}
.song-part {
    margin-top: 0.65em;
    margin-bottom: 0.65em;
    margin-left: 0;
    margin-right: 0;
}
.song-content {
    margin: 0;
    padding: 0;
    height: 245mm;
    width: 170mm;
}
.split {
    column-count: 2;
    column-gap: 10mm;
}
.split .lyrics {
    width: 80mm;
}
/* type-specific stuff */
/* DO NOT CHANGE */
.chord {
    font-weight: bold;
}
.lyrics {
    line-height: 1.3em;
    white-space: pre;
    width: 170mm;
}
